export(CC.anypop)
export(CC.bipop)
export(CC.plot)
export(alter.pop)
export(inspect.marker)
export(optimize.params)
export(read.pop)
export(usefitT)
export(write.pop)
exportClasses(anypop)
exportClasses(bipop)
exportClasses(pop)
importFrom(MASS, fitdistr)
import(methods)
importFrom("graphics", "abline", "legend", "mtext", "plot", "points","title")
importFrom("stats", "chisq.test", "cutree", "dist", "dnorm", "dt","hclust", "median", "rnorm","dlnorm","sd")
importFrom("utils", "read.csv", "write.csv","read.table")
